@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  box-shadow: 0 10px 50px darkgrey;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: rgb(200, 200, 200);
  border-block-start-style: solid;
  border-block-start-width: 1px;
  box-shadow: 0 -10px 80px rgb(200, 200, 200);
}