@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  min-height: 70px;
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  border-block-end-style: solid;
  border-block-end-width: 1px;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(200, 200, 200);
  border-block-start-style: solid;
  border-block-start-width: 1px;
}

.button {
  text-decoration: none;
  font-size: smaller;
  color: white;
  background: rgb(40, 215, 220);
  border: 1.5px solid rgb(40, 215, 220);
  padding: 0.7em;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: rgb(60, 240, 255);
  box-shadow: 0 5px 10px gainsboro;
}